@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Bai Jamjuree', sans-serif;
        font-size: 14px;
        background-color: #333333;
        color: #ffffff;
    }
}